<ion-view view-title="Session">
  <ion-content>
    <div class="list card">

      <div class='item item-divider'>
        <h1 class='card-title'>{{currentSession.title}}</h1>
        <div class="row">
          <div class='img-wrapper col'>
            <img src="img/girl-face.png">
          </div>
          <div class='img-wrapper col'>
            <img src="img/girl-face.png">
          </div>
          <div class='img-wrapper col'>
            <img src="img/girl-face.png">
          </div>
        </div>
      </div>

      <a class="item assertive" href="#">
        <p class=''>
            {{currentSession.date}}</br>
            {{currentSession.time}}
        </p>
      </a>

    </div>
  </ion-content>
</ion-view>
